* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Calibri, sans-serif;
}

.home {
  margin: 100px;
}

.experiments {
  margin: 100px;
}

.about {
  margin: 100px;
}

.design-details {
  margin: 100px 20%;
  h1 {
    margin-bottom: 50px;
    margin-top: 15%;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  padding-top: 50px;
}

.nav-links {
  display: flex;
  text-transform: uppercase;
  padding: 10px;
  padding-top: 50px;
  justify-content: flex-end;
  a {
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    color: black;
    outline: none;
  }
}

.intro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15%;
}

.intro-text {
  width: 65%;
  h1 {
    line-height: 1.5em;
    letter-spacing: 0.5px;
    font-size: 2.6em;
  }
}

.intro-photo {
  width: 35%;
  display: flex;
  justify-content: flex-end;
}

.image-holder {
  width: 55%;
  background: linear-gradient(to right, #ff6b15 0%, #ff5ca3 100%);
  border-radius: 5px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    top: 10px;
    left: 15px;
  }
}

.connect {
  padding-top: 15%;
  text-align: center;
  img {
    width: 25px;
    margin: 40px;
    cursor: pointer;
  }

  h1 {
    margin-bottom: 10px;
  }

  p {
    margin: 20px 0;
  }

  a {
    text-decoration: none;
    outline: none;
  }
}

.story-container {
  padding-top: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.story-image {
  width: 30%;
  background: linear-gradient(to right, #ff6b15 0%, #ff5ca3 100%);
  border-radius: 5px;
  img {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    top: 10px;
    left: 15px;
  }
}

.life-story {
  width: 60%;
  p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.8em;
  }
}

.resume {
  margin-top: 20px;
  background: linear-gradient(to right, #ff6b15 0%, #ff5ca3 100%);
  display: inline-block;
  padding: 1px;
  a {
    text-decoration: none;
    font-size: 18px;
    outline: none;
  }
  div {
    padding: 10px 20px;
    background-color: white;
  }
}

.illustrations {
  margin-top: 15%;
  h2 {
    text-align: center;
    text-transform: uppercase;
  }
  p {
    margin-top: 20px;
    font-size: 18px;
  }
}

.posts-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}

.post-holder {
  h4 {
    text-align: center;
    margin-top: 50px;
  }
}

.ill-card {
  width: 25%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.ill-img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.response-container {
  display: flex;
  align-items: center;
  padding: 15px 0;
  button {
    width: 20px;
    margin: 0 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.arrow {
  width: 5%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.spinner {
  padding: 100px;
  display: flex;
  justify-content: center;
}

.exp-list {
  padding-top: 15%;
}

.item-card-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}

.item-card {
  padding: 20px;
  h1 {
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
  }
}

.exp-screens {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  img {
    width: 20%;
  }
}

.item-response {
  display: flex;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #dfe1e5;
  button {
    width: 20px;
    margin: 0 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.recent-work {
  display: flex;
  justify-content: space-between;
}

.design-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 15%;
  width: 45%;
  border-radius: 5px;
  p {
    font-size: 18px;
  }
  h1 {
    margin-bottom: 20px;
  }
}

.screen-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    width: 30%;
    margin-right: 30px;
  }
}

.design-container {
  p {
    margin: 20px 0;
    font-size: 18px;
  }
  h2 {
    margin: 10px 0;
  }
}

.persona {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  flex-wrap: wrap;
  img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 40px;
  }
}

.wireframe-img {
  width: 100%;
  margin: 50px 0;
}

.screens {
  img {
    width: 27%;
    margin: 20px;
  }
}

.bullet-points {
  li {
    margin-left: 20px;
  }
}

.design-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  h1 {
    margin: 20px 30px;
  }
  .back-button {
    margin: 20px 30px;
    border-radius: 5px;
    a {
      font-weight: bold;
    }
  }
}

.dis-spinner {
  padding-top: 50%;
}
